<<<<<<< HEAD
<% @products.each do |product| %>
  <%= render partial: "product", locals: {product: product} %>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(description) {
      $.get("/products/" + id + "/inventory", function(inventory) {
        var inventoryText = "<strong>Available</strong>";
        if(inventory === "false"){
          inventoryText = "<strong>Sold Out</strong>";
        }
        var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
        $("#product-" + id).html(descriptionText);
      });
    });
  });
});
</script>
=======
<h1><%= product.id %>: <%= product.name %></h2>
<div id="body-<%= product.id %>"><%= truncate product.description %></div>

<button class="js-more" data-id="<%= product.id %>">More...</button>
>>>>>>> d0c6ae59d9b5681ffa5fc10749126538e4010f0b
